
<script>
  var id= '<%=project.id%>';
  var own_email = '<%= project.owner_email%>'
var $mensaje1 = $('<span class="  color_acentuado-text"> Se agregó el nuevo usuario al proyecto</span>');
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  var $mensaje2 = $('<span class="  color_acentuado-text"> Se agregaron los nuevos usuarios al proyecto</span>');

   

</script>


 <div class="z-depth-2">
    <div class="nav-wrapper green darken-2 border_estilo ">
      <div class="col s12">
        <a href="/user/view/<%=session.User.id%>" class="breadcrumb">Mis proyectos</a>
        <a href="/project/edit/<%=project.id%>" class="breadcrumb">Projecto: <%= project.name%></a>        
      </div>
    </div>
  </div>

<div id="vistaprincipal" class="boxer" ng-controller="projectedit">
  <h3 class="principalproject green-text"> Agregar usuarios al projecto</h3>
  <div class="container">
   
    <div class= "row" >
      <div class= "col s8">
        <selectize config='myConfig' options='usuarios' ng-model="inputdatos"></selectize>
      </div>
      <div class="col s4">
           <button type="submit" class="waves-effect waves-light  light-green  btn-large" ng-click="sendData()"> Enviar </button>
      </div>
    </div>
   
    </div>
    <div class="carta">
        <div class="container divider"></div>
    </div>
  
  <h3 class="principalproject green-text"> Participantes</h3>
  
  <div class="container ">
          <table class="striped ">
        <thead> 
    <tr>
      <th> Imagen</th>
      <th data-field="owner"> PMO</th>
      <th data-field="nombre">Nombre </th>
      <th data-field="correo">Correo </th>
      <th data-field="rut"> Rut </th>
      

    </tr>
        </thead> 

  
   <tr ng-repeat="x in misparticipantes" ng-model="misparticipantes">
      <td >  <img ng-src="{{x.imgurl}}" alt="" class="circle " height ="40px" weight="40px"></div>
      </td>
      <td>   <i class= "light-green-text small material-icons prefix" ng-if="owner_email==x.email">
             done</i>
             
      </td>      
      <td> {{ x.firstname }} {{ x.lastname }}</td>
      
      <td> {{ x.email  }}</td>
      <td> </td>
      </tr>

    
      
  </table>
  </div>
    
  </div>
  

</div>












