
<script>
  var id= '<%=project.id%>';
  var email_user = '<%= session.User.email%>';
  var miid='<%=session.User.id%>'
  var own_email = '<%= project.owner_email%>';
  var $mensaje1 = $('<span class="  color_acentuado-text"> Se agregó el nuevo usuario al proyecto</span>');
  $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
     $('.modal-trigger').leanModal();
  });
  var $mensaje2 = $('<span class="  color_acentuado-text"> Se agregaron los nuevos usuarios al proyecto</span>');
  var $mensaje4 = $('<span class="  color_acentuado-text"> Se han actualizado los cambios</span>');
  var $mensaje5 = $('<span class="  color_acentuado-text"> Ocurrió un error</span>');
  var $mensaje6 = $('<span class="  color_acentuado-text"> Se ha creado la nueva tarea</span>');
</script>


  <div class="row" ng-controller="projectedit">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a  href="#participantes">Participantes</a></li>
        <li class="tab col s3"><a   href="#dialogo">Diálogo</a></li>
        <li class="tab col s3 "><a  href="#mensajes"> Mensajes</a></li>
        <li class="tab col s3 "><a class="active" href="#kanban"> Kanban</a></li>
      </ul>
    </div>
   <!-- Inicio TABS-->
    <div id="participantes" class="col s12">
      <div class="row container">
        <br>
     
        <%if(session.User.email==project.owner_email){%>
          <div class="row col s12">
            <h6 class="green-text"> Estas a cargo del proyecto, puedes editarlo  <a href="#"> aquí</a></h6>
          </div>
          <div class="row col s12">
            <!-- Selectize -->
                <div class= "row col s8">
                  <selectize config='myConfig' options='usuarios' ng-model="inputdatos"></selectize>
                </div>
                <div class="row col s4">
                     <button type="submit" class="waves-effect waves-light  light-green  btn-large" ng-click="sendData()"> Agregar usuarios </button>
                </div>

               <!-- Selectize -->
          </div>
        <%}%>
          <div class="col s12">
            <div class="col s1 ">
              <br>
              <i class="material-icons light-green-text prefix">search</i>
            </div>
            <div class="col s4 input-field">
              <input type="search" ng-model="busqueda" id="search" >
              <label for="search" class="green-text"> Buscar participante</label>
            </div>
          </div>
          <div class=" col s12">
                <!-- Tabla -->
            <div class="" id="tabla_participantes">
              <table class="striped  responsive-table">
                <thead> 
                  <tr>
                    <th class="light-green-text" > </th>
                    <th data-field="nombre" class="light-green-text">Nombre </th>
                    <th data-field="correo" class="light-green-text">Correo </th>
                    <th data-field="rut" class="light-green-text"> Rut </th>
                    <th data-field="owner" class="light-green-text"> PMO</th>
                    <th data-field="encargado" class="light-green-text"> Encargado</th>
                    <th data-field="owner" class="light-green-text"> Rol</th>
                  </tr>
                </thead> 
                <tbody>
                  <tr ng-repeat="x in misparticipantes | filter:busqueda" ng-model="misparticipantes">
                    <td >  <img ng-src="{{x.imgurl}}" alt="" class="circle " height ="40px" weight="40px"></div>
                    </td>
                    <td class="light-green-text"> {{ x.firstname }} {{ x.lastname }}</td>
                    <td class="light-green-text"> {{ x.email  }}</td>
                    <td class="light-green-text"> {{x.rut}} </td>
                    <td>   <i class= "green-text small material-icons prefix" ng-if="owner_email==x.email">done</i></td>  
                    <td><i class= "green-text small material-icons prefix" ng-if="owner_email==x.email">done</i></td>
                    <td class="light-green-text">Desarrollador Front end</td>
                  </tr>  
                </tbody>
            </table>
            </div>

            
               <select ng-model="selectedName" ng-options="x for x in names">
</select>
        </select>
            <!-- Tabla -->  
          </div>
        </div>
        

    </div><!-- FIN TAB -->

    <div id="dialogo" class="col s12">

          <style>
            .node circle {     
              fill: #fff;    
              stroke: steelblue;    
              stroke-width: 1.5px; 
            } 
            .node {    
              font: 20px sans-serif; 
            } 
            .link {    
              fill: none;    
              stroke: #ccc;    
              stroke-width: 1.5px; 
            }
            </style> 
            <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
            <script type="text/javascript"> 
            var width = 1000; 
            var height = 600; 
            var cluster = d3.layout.cluster()    
               .size([height, width-200]); 
            var diagonal = d3.svg.diagonal()    
               .projection (function(d) { return [d.y, d.x];}); 
            var svg = d3.select("#dialogo").append("svg")    
               .attr("width",width)    
               .attr("height",height)    
               .append("g")    
               .attr("transform","translate(100,0)"); 
            d3.json("http://localhost:1337/project/getDialogos/<%=project.id%>", function(error, root){    
               var nodes = cluster.nodes(root);    
               var links = cluster.links(nodes);    
               var link = svg.selectAll(".link")       
                  .data(links)       
                  .enter().append("path")       
                  .attr("class","link")       
                  .attr("d", diagonal);     
               var node = svg.selectAll(".node")       
                  .data(nodes)       
                  .enter().append("g")       
                  .attr("class","node")       
                  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });    
               node.append("circle")       
                  .attr("r", 4.5);    
               node.append("text")       
                  .attr("dx", function(d) { return d.children ? -8 : 8; })       
                  .attr("dy", 3)       
                  .style("text-anchor", function(d) { return d.children ? "end" : "start"; })      
                  .text( function(d){ return d.name;}); 
            }); 
            </script>
          <!--
                 <div class="principalproject" id="contenedor principal">
        <div class="contenedor_dialogo card">
        <form action="/dialogo/create/" method="post" novalidate class="row">
          para crear root
          <input type="text" name="name">
          <label for="name"> Nombre del dialogo</label>
          <input type="hidden" value="true" name="root">
          <input type="hidden" name="project_id" value="<%=project.id%>">
          <input type="hidden" name="_csrf" value="<%=_csrf%>">
          <button type="submit">
            Enviar 
          </button>
        </form>

      OTra form
        <form action="/dialogo/add_dialogo/" method="post" novalidate class="row">
          para unir 
          
          <input type="hidden"  name="id_dialogo" value="5753bf818f7d89371752f517">
          <input type="hidden" name="id_nuevo" value="5753bfb58f7d89371752f519">
          <input type="hidden" name="_csrf" value="<%=_csrf%>">
          <button type="submit">
            Enviar union
          </button>
        </form>
        nuevo form
          <form action="/dialogo/buscar/" method="post" novalidate class="row">
         ultimo

          <input type="hidden" name="_csrf" value="<%=_csrf%>">
            <input type="hidden" name="project_id" value="<%=project.id%>">
          <button type="submit">
            ultimo union
          </button>
        </form>
      </div>
      </div>
      -->

    </div><!-- FIN TAB -->

    <div id="mensajes" class="col s12">
    <div class="row col s12" ng-repeat="x in mensajes">
      <div class="row col s4 ">
        <div class="card green">
          <span>  {{x.id}} : {{x.name}} </span>
           <button  ng-click="seleccionar(x)" type="submit">
            Enviar 
          </button>
        </div>
      </div>
    </div>
  aca va el seleccionado {{seleccionado}}
    <form novalidate class="row">
          para crear mensaje de respuesta
          <input type="text" name="name" ng-model="respuesta">
          <label for="name"> Nombre del dialogo</label>
          <input type="text" name="padre" ng-model="idmensajepadre" >
          <label for="padre"> id del padre</label>
          <input type="hidden" name="tipo" value="duda" ng-model="tiposeleccionado">
          
          <button  ng-click="sendMessage()" type="submit">
            Enviar 
          </button>
        </form>








    </div><!-- FIN TAB -->

    <div id="kanban" class="col s12" ng-cloak>
      <br>
      
          <div class="col s3 ">
               <div class=" col s12 contenedorkanbanheader"><div class="col s10"> NUEVA</div> <div class="col s1"><a class="modal-trigger " href="#modal1"> <i class="material-icons light-green-text prefix">add_circle</i></a></div></div>
               <div class="col s12 contenedorkanbanheader"> <div class="col s1"><br><i class="material-icons light-green-text prefix">search</i></div><div class="col 11"><input type="text" ng-model="filtro1"></div></div>
            <div id="new"  class=" col s12 contenedorkanban" data-drop="true" ng-model='list1' data-jqyoui-options="optionsList1" jqyoui-droppable="{multiple:true, onDrop:'onDrop'}">
              
              <div class =" kanbanyellow conheight hoverable" ng-repeat="item in list1 | filter:filtro1" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}"> 
                <div class="row">
                <div class=" col s3 "> <br><img class="circle responsive-img" ng-src="{{item.datosusuario.imgurl}}"></div>
                <div class="col s9 textito"> <h6>{{item.title}} </h6> </div>
                </div>
       
              </div>
             
            </div>
          </div>

          <div class=" col s3 ">
   <div class=" col s12 contenedorkanbanheader">HACIENDO</div>
   <div class="col s12 contenedorkanbanheader"> <div class="col s1"><br><i class="material-icons light-green-text prefix">search</i></div><div id="doing"  class="col 11"><input type="text" ng-model="filtro2" ></div></div>
      <div class=" col s12 contenedorkanban" data-drop="true" ng-model='list2' data-jqyoui-options="optionsList2" jqyoui-droppable="{multiple:true, onDrop:'onDrop'}">
              
              <div class =" kanbanyellow conheight hoverable" ng-repeat="item in list2 | filter:filtro2" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{helper: 'clone'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:true}"> 
                <div class="row">
                <div class=" col s3 "> <br><img class="circle responsive-img" ng-src="{{item.datosusuario.imgurl}}"></div>
                <div class="col s9 textito"> <h6>{{item.title}}</h6> </div>
                </div>
       
              </div>
             
            </div>
          </div>

          <div class="col s3 ">
             <div class=" col s12 contenedorkanbanheader">EN PRUEBAS</div>
             <div class="col s12 contenedorkanbanheader"> <div class="col s1"><br><i class="material-icons light-green-text prefix">search</i></div><div class="col 11"><input type="text" ng-model="filtro3"></div></div>
              <div id="testing"  class=" col s12 contenedorkanban" data-drop="true" ng-model='list3' data-jqyoui-options="optionsList3" jqyoui-droppable="{multiple:true, onDrop:'onDrop'}">
              
              <div class =" kanbanyellow conheight hoverable" ng-repeat="item in list3 | filter:filtro3" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{helper: 'clone'}" ng-model="list3" jqyoui-draggable="{index: {{$index}},animate:true}"> 
                <div class="row">
                <div class=" col s3 "> <br><img class="circle responsive-img" ng-src="{{item.datosusuario.imgurl}}"></div>
                <div class="col s9 textito"> <h6>{{item.title}}</h6> </div>
                </div>
       
              </div>
             
            </div> 
          </div>

          <div  class="col s3 ">
            <div class=" col s12 contenedorkanbanheader">TERMINADA</div>
            <div class="col s12 contenedorkanbanheader"> <div class="col s1"><br><i class="material-icons light-green-text prefix">search</i></div><div class="col 11"><input type="text" ng-model="filtro4"></div></div>
              <div id="done" class=" col s12 contenedorkanban" data-drop="true" ng-model='list4' data-jqyoui-options="optionsList4" jqyoui-droppable="{multiple:true, onDrop:'onDrop'}">
              
              <div class =" kanbanyellow conheight hoverable" ng-repeat="item in list4 |filter:filtro4" ng-show="item.title" data-drag="{{item.drag}}" data-jqyoui-options="{helper: 'clone'}" ng-model="list4" jqyoui-draggable="{index: {{$index}},animate:true}"> 
                <div class="row">
                <div class=" col s3 "> <br><img class="circle responsive-img" ng-src="{{item.datosusuario.imgurl}}"></div>
                <div class="col s9 textito"> <h6>{{item.title}}</h6> </div>
                </div>
       
              </div>
             
            </div>
          </div>
    </div><!-- FIN TAB -->


  <!-- MODALES-->
    <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4 class="green-text"> Crear una nueva Tarea</h4>
      <form  novalidate name="creartareaform">
        <div class="col s12">
          <div class="row">
            <div class="col s1">
                <br><i class="small material-icons green-text">mode_edit</i>
            </div>
            <div class= "col s6 input-field">
              <input type="text" name="nuevatarea" class="materialize-textarea" length="70" ng-model="nuevatarea" ng-minlength="3" ng-maxlength="70" ng-required="true">
              <label for="nuevatarea"> Tarea</label>
            </div>
          <div ng-messages="creartareaform.nuevatarea.$error" role="alert" class="col s4 centerme red-text" >
            <div ng-message ="required"> <i class="small material-icons red-green-text">error_outline</i></div>
            <div ng-message="minlength">Mínimo 3 caracteres</div> 
            <div ng-message ="maxlength">Tarea demasiada larga</div>
            <div ng-show="creartareaform.nuevatarea.$valid"><i class="small material-icons light-green-text">done</i></div>
         </div>
          </div>
          <div class="row">
             <div class="col s1">
               <br><i class="small material-icons green-text">search</i>
             </div>
             <div class="col s8">
               <selectize config='myConfig2' options='misparticipantes' ng-model="inputdatos2"></selectize>
             </div>
          </div>
        </div>
      </form>
    </div>
 
    <div class="modal-footer">
       <a href="#!" ng-click="creartarea()" class="modal-action modal-close waves-effect waves-green btn-flat ">Aceptar</a>
      <a href="#!" ng-click="" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
     
    </div>
    </div>
  </div>

  </div><!-- FIN CONTENEDOR DIV -->














