<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title><%=typeof title == 'undefined' ? 'Visual Mail' : title%></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

		<!--
		  Stylesheets and Preprocessors
		  ==============================

		  You can always bring in CSS files manually with `<link>` tags, or asynchronously
		  using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
		  of Sails' conventional asset pipeline (boilerplate Gruntfile).

		  By default, stylesheets from your `assets/styles` folder are included
		  here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
		  are supported. In production, your styles will be minified and concatenated into
		  a single file.

		  To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
		  For example, here are a few things you could do:

				+ Change the order of your CSS files
				+ Import stylesheets from other directories
				+ Use a different or additional preprocessor, like SASS, SCSS or Stylus
		-->

		<!-- Inicio referencias externas -->
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Fin referencias externas -->

		<!-- Inicio hojas de estilo CSS -->
		<link rel="stylesheet" href="/js/dependencies/jquery-contextmenu/jquery.contextMenu.min.css">
		<link rel="stylesheet" href="/js/dependencies/jquery-ui/jquery-ui.css">
		<link rel="stylesheet" href="/styles/importer.css">
		<link rel="stylesheet" href="/styles/materialize.css">
		<link rel="stylesheet" href="/styles/selectize.css">
		<link rel="stylesheet" href="/styles/selectize.default.css">
		<link rel="stylesheet" href="/styles/style.css">
		<!-- Fin hojas de estilo CSS -->

		<!-- Inicio Scripts -->
		<script src="/js/dependencies/sails.io.js"></script>
		<script src="/js/dependencies/jquery/js/jquery-3.1.1.min.js"></script>
		<script src="/js/dependencies/jquery-contextmenu/jquery.contextMenu.min.js"></script>
		<script src="/js/dependencies/jquery-ui/jquery-ui.min.js"></script>
		<script src="/js/dependencies/jscolor/js/jscolor.min.js"></script>
		<script src="/js/dependencies/jquery/microplugin.js"></script>
		<script src="/js/dependencies/jquery/sifter.js"></script>
		<script src="/js/Javascript/d3-transform.js"></script>
		<script src="/js/Javascript/d3.min.js"></script>
		<script src="/js/Javascript/fisheye.js"></script>
		<script src="/js/Javascript/init.js"></script>
		<script src="/js/Javascript/materialize.js"></script>
		<script src="/js/Javascript/selectize.js"></script>
		<script src="/js/dependencies/angular/angular.min.js"></script>
		<script src="/js/dependencies/angular/angular-messages.js"></script>
		<script src="/js/dependencies/angular/angular-compare.js"></script>
		<script src="/js/dependencies/angular/angular-dragdrop.min.js"></script>
		<script src="/js/dependencies/angular/angular-materialize.js"></script>
		<script src="/js/dependencies/angular/angular-rut-validator.js"></script>
		<script src="/js/dependencies/angular/angular-selectize.js"></script>
		<script src="/js/src/app.js"></script>
		<script src="/js/src/compareTo.js"></script>
		<script src="/js/src/scrollglue.js"></script>
		<script src="/js/src/Controller/CreateProjectController.js"></script>
		<script src="/js/src/Controller/LoginController.js"></script>
		<script src="/js/src/Controller/RecoverPageCtrl.js"></script>
		<script src="/js/src/Controller/RecoverPassController.js"></script>
		<script src="/js/src/Controller/editUserController.js"></script>
		<script src="/js/src/Controller/SignupController.js"></script>
		<script src="/js/src/Controller/ProjectController.js"></script>
		<script>
			$(document).ready(function(){
				$(".main-menu-btn").sideNav({
					menuWidth: 300, // Default is 240
					edge: 'left', // Choose the horizontal origin
					closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
				});
				$(".dropdown-button").dropdown({
					inDuration: 300,
					outDuration: 225,
					constrain_width: true, // Does not change width of dropdown to that of the activator
					hover: false, // Activate on hover
					gutter: 0, // Spacing from edge
					belowOrigin: true, // Displays dropdown below the button
					alignment: 'right' // Displays dropdown with edge aligned to the left of button
				});
			});
		</script>
		<!-- Fin Scripts -->
	</head>
	<body>
		
		<% if(session.authenticated) { %>
		<!-- Inicio Side Menu -->
		<ul class="side-nav green darken-2" id="slide-out">
			<li  class="green darken-2 row">
				<div class="col s4 offset-s4">
					<br />
					<img src="<%=session.User.imgurl%>" alt="" class="circle responsive-img" >
				</div> 
				<li class="center"><span class="white-text"><%= session.User.firstname %> <%= session.User.lastname%></span>
				</li>
			</li>
			<li>  <div class="divider black"></div> </li>
			<li class="green darken-2"><a class="white-text" href="/user/view/<%=session.User.id%>">Mis Proyectos</a></li>
			<li class="green darken-2"><a class="white-text" href="/session/help">Ayuda</a></li>
			<li class="green darken-2"><a class="white-text" href="/session/logout/">Cerrar sesión</a></li>
		</ul>
		<!-- Fin Side Menu -->

		<!-- Inicio Top Bar -->
		<div class="green darken-2 navbar-fixed">
			<div class="row">
				<div class="col s6">
					<a class="main-logo tooltipped" href="/user/view/<%=session.User.id%>" 
						data-delay="50" 
						data-html="true" 
						data-position="bottom" 
						data-tooltip="Regresar al inicio" 
						data-tooltip-id="0b19c82d-fa47-bd7e-797c-9c3ff2b6857d">
						<img src="/images/icon.png">
					</a>
					<button type="button" class="main-menu-btn" data-activates="slide-out">
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		            	<span class="icon-bar"></span>
		        	</button>
		        </div>

		        <div class="col offset-s2 s4 right-align">
		        	<a class="dropdown-button" href="#" data-activates="userMenu">
		        		<img class="circle main-avatar responsive-img" src="<%=session.User.imgurl%>">
		        	</a>
		        	<ul id="userMenu" class="dropdown-content main-user-menu">
    					<li><a href="#!">Bienvenido : <%=session.User.firstname%></a></li>
    					<li class="divider"></li>
    					<li><a href="/user/view/<%=session.User.id%>">Mis Proyectos</a></li>
    					<li><a href="/user/edit/<%=session.User.id%>">Mi perfil</a></li>
    					<li><a href="/session/logout">Cerrar sesión</a></li>
  					</ul>
		        </div>
			
				<!--<div class=" col s3">
					<div class ="col s1 offset-s1">
						<br />
						<a href="/user/view/<%=session.User.id%>" class="button"> 
							<i class="small material-icons light-green-text">home</i>
						</a>
					</div>
				</div>-->

				<!-- icono sidenav-->
				<!--<div class="col s9">
					<div class=" col s6 ">
						<div class=" col s4">
							<div class="col s6 offset-s6">
								<br />
								<a href="/session/help">
									<i class= "right light-green-text small material-icons prefix">live_help</i>
								</a>
							</div>
						</div>
						<div class="row col s6 green darken-2 z-depth-1 card dropdown-button"
							data-activates='dropdown1' 
							data-belowOrigin="true"> 
							<div class="col s9 ">
								
							</div>
							<div class="col s9 ">
								<h6 class="white-text align-text"><span>Bienvenido : <%=session.User.firstname%></span></h6>
							</div>
							<div class= "col s3">
								<img src="<%=session.User.imgurl%>" alt="" class="circle" height="40px" width="40px">
							</div>
						</div>
					</div>-->

					<!--card panel -->
				</div>
				<!--<a class="white-text" href="/session/logout/">Cerrar sesión</a>-->
			</div>
		</div>

		<!-- Dropdown Structure -->
		<!--<ul id='dropdown1' class='dropdown-content'>
			<li class="divider green darken-4"></li>
			<li class="green darken-2 white-text">
				<a class="white-text" href="/user/view/<%=session.User.id%>">Mis Proyectos</a>
			</li>
			<li class="green darken-2 white-text ">
				<a class="white-text" href="/user/edit/<%=session.User.id%>">Editar perfil</a>
			</li>
			<li class="divider green darken-4"></li>
			<li class="green darken-2 white-text"><a class="white-text" href="/session/logout/"> Cerrar sesión</a></li>
		</ul>-->
		<% } else { %>
		<nav class="navbar-fixed green darken-2">
			<div class="container">
				<a href="/" class="main-logo">
					<img src="/images/iconosmall2.png">
				</a>
				<ul class="right hide-on-med-and-down ">
					<li><a class="white-text" href="/user/signup/">Regístrate</a></li>
					<li><a class="white-text" href="/session/login/">Iniciar Sesión</a></li>
				</ul>
			</div>
		</nav>
		<% } %> 

		<!-- Inicio contenido -->
		<main>

			<%- body %>

		</main>
		<!-- Fin contenido -->
		 
		<!-- Inicio Pie de página -->
		<footer class="page-footer green darken-2">
			<div class="container">
				<div class="container">
					<h5 class="white-text center-align">Visual Mail</h5>
					<p class="grey-text text-lighten-4 center-align">
						Desarrollado en el Departamento de Ingeniería Informática de la Universidad de Santiago de Chile.
					</p>
				</div>
			</div>

			<div class="footer-copyright">
				<div class="container">
					<a class="brown-text text-lighten-3" href="/" id="footyear"></a>
				</div>
			</div>
		</footer>
		<!-- Fin Pie de página -->

	</body>
	<script type="text/javascript">
		$('#footyear').html('Visual Mail ' + new Date().getFullYear());
	</script>
</html>
