<!DOCTYPE html>
<html>
    <head>
        <title><%=typeof title == "undefined" ? "" : title + " | "%>VisualMail</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" href="/images/icon32x32.png" sizes="32x32">
        
        <!--
            Stylesheets and Preprocessors
            ==============================

            You can always bring in CSS files manually with `<link>` tags, or asynchronously
            using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
            of Sails' conventional asset pipeline (boilerplate Gruntfile).

            By default, stylesheets from your `assets/styles` folder are included
            here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
            are supported. In production, your styles will be minified and concatenated into
            a single file.

            To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
            For example, here are a few things you could do:

                + Change the order of your CSS files
                + Import stylesheets from other directories
                + Use a different or additional preprocessor, like SASS, SCSS or Stylus
        -->

        <!-- Inicio referencias externas -->
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Fin referencias externas -->

        <!-- Inicio estilos CSS -->
        <link rel="stylesheet" href="/js/dependencies/jquery-ui/1.12.1/jquery-ui.min.css" />
        <link rel="stylesheet" href="/js/dependencies/materializecss/0.98.2/css/materialize.min.css" />
        <link rel="stylesheet" href="/styles/style-with-materialize.css" />
        <%- typeof sectionHead != "undefined" ? sectionHead : "" %>
        <!-- Fin estilos CSS -->

    </head>

    <body ng-app="VisualMailApp">
        
        <% if(session.authenticated) { %>
		<!-- Inicio Side Menu -->
		<ul class="side-nav green darken-2" id="slide-out">
			<li  class="green darken-2 row">
				<div class="col s4 offset-s4">
					<br />
                    <% if(session.User.imgurl) { %>
					<img src="<%= session.User.imgurl %>" alt="" class="circle responsive-img" />
                    <% } else { %>
                    <img src="/images/profile.jpg" alt="" class="circle responsive-img" />
                    <% } %>
				</div> 
				<li class="center"><span class="white-text"><%= session.User.firstname %> <%= session.User.lastname %></span>
				</li>
			</li>
			<li>  <div class="divider black"></div> </li>
            <% if(session.User.rol === 1) { %>
            <li class="green darken-2"><a class="white-text" href="/user/admin">Administrar usuarios</a></li>
            <% } %>
			<li class="green darken-2"><a class="white-text" href="/user/index">Mis Proyectos</a></li>
            <li class="green darken-2"><a class="white-text" href="/user/edit">Mi perfil</a></li>
            <li class="green darken-2"><a class="white-text" href="/user/password">Modificar contraseña</a></li>
			<li class="green darken-2"><a class="white-text" href="/session/help">Ayuda</a></li>
			<li class="green darken-2"><a class="white-text" href="/session/logout">Cerrar sesión</a></li>
		</ul>
		<!-- Fin Side Menu -->
        <% } %>

        <!-- Inicio menú principal -->
        <nav>
            <div class="nav-wrapper green darken-2">
                <a class=" tooltipped" href="<%= session.authenticated ? '/user/index' : '/' %>" 
                    data-delay="50" 
                    data-html="true" 
                    data-position="right" 
                    data-tooltip="Regresar al inicio" 
                    data-tooltip-id="0b19c82d-fa47-bd7e-797c-9c3ff2b6857d">
                    <img src="/images/icon.png">
                </a>
                
                <% if(session.authenticated) { %>
                <button type="button" class="main-menu-btn" data-activates="slide-out">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
		        <div class="main-avatar">
		        	<a class="dropdown-button" href="#" data-beloworigin="true" data-activates="userMenu">
                        <% if(session.User.imgurl) { %>
                        <img src="<%= session.User.imgurl %>" alt="" class="circle responsive-img" />
                        <% } else { %>
                        <img src="/images/profile.jpg" alt="" class="circle responsive-img" />
                        <% } %>
		        	</a>
		        	<ul id="userMenu" class="dropdown-content main-user-menu">
    					<li><a href="#!">Bienvenido : <%=session.User.firstname%></a></li>
    					<li class="divider"></li>
                        <% if(session.User.rol === 1) { %>
                        <li><a href="/user/admin">Administrar usuarios</a></li>
                        <% } %>
    					<li><a href="/user/index">Mis Proyectos</a></li>
    					<li><a href="/user/edit">Mi perfil</a></li>
                        <li><a href="/user/password">Modificar contraseña</a></li>
    					<li><a href="/session/logout">Cerrar sesión</a></li>
  					</ul>
		        </div>
                <% } else { %>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/session/signup">Registrarse</a></li>
                    <li><a href="/session/login">Iniciar sesión</a></li>
                </ul>
                <% } %>

            </div>
        </nav>
        <!-- Fin menú principal -->
        
        <main>
        <%- body %>
        </main>

        <!--
            Client-side Templates
            ========================

            HTML templates are important prerequisites of modern, rich client applications.
            To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
            that you load these templates client-side.

            By default, your Gruntfile is configured to automatically load and precompile
            client-side JST templates in your `assets/templates` folder, then
            include them here automatically (between TEMPLATES and TEMPLATES END).

            To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
            For example, here are a few things you could do:

                + Import templates from other directories
                + Use a different template engine (handlebars, jade, dust, etc.)
                + Internationalize your client-side templates using a server-side
                  stringfile before they're served.
        -->

        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->

        <!--

          Client-side Javascript
          ========================

          You can always bring in JS files manually with `script` tags, or asynchronously
          on the client using a solution like AMD (RequireJS).  Or, if you like, you can
          take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

          By default, files in your `assets/js` folder are included here
          automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
          CoffeeScript (.coffee) are supported. In production, your scripts will be minified
          and concatenated into a single file.

          To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
          For example, here are a few things you could do:

              + Change the order of your scripts
              + Import scripts from other directories
              + Use a different preprocessor, like TypeScript

        -->

		<!-- Inicio Pie de página -->
		<footer class="page-footer grey darken-4">
            <div class="container">
                <h5 class="white-text center-align">Visual Mail</h5>
                <p class="grey-text text-lighten-4 center-align">
                    Desarrollado en el Departamento de Ingeniería Informática de la Universidad de Santiago de Chile.
                </p>
			</div>

			<div class="footer-copyright">
				<div class="container">
                    <div class="col s12 center-align">
                        @ <%= new Date().getFullYear() %> 
					    <a class="brown-text text-lighten-3" href="http://informatica.usach.cl" id="footyear" target="_blank">DIINF Usach</a>
                    </div>
				</div>
			</div>
		</footer>
		<!-- Fin Pie de página -->

        <!-- Inicio Scripts -->
        <script src="/js/dependencies/jquery/3.2.1/js/jquery.min.js"></script>
        <script src="/js/dependencies/jquery-ui/1.12.1/jquery-ui.min.js"></script>
        <script src="/js/dependencies/materializecss/0.98.2/js/materialize.min.js"></script>
        <script src="/js/style-with-materialize.js"></script>

        <script src="/js/dependencies/angular/1.6.4/js/angular.min.js"></script>
        <script src="/js/dependencies/angular-materialize/0.2.2/js/angular-materialize.min.js"></script>
        <script src="/js/dependencies/angular-messages/1.6.4/js/angular-messages.min.js"></script>
        <script src="/js/dependencies/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="/js/src/Directives/compareTo.js"></script>
        <script src="/js/src/Directives/scrollglue.js"></script>
        <script src="/js/src/app.js"></script>
        <%- typeof sectionScripts != "undefined" ? sectionScripts : "" %>
        <% if(session.flash && session.flash.legnth > 0) { %>
        <script>Materialize.toast($('<span><%= session.flash.err %></span>'), 5000);</script>
        <% } %>

        <% if(session.authenticated) { %>
		<script>
			$(document).ready(function(){
				$(".main-menu-btn").sideNav({
					menuWidth: 300, // Default is 240
					edge: 'left', // Choose the horizontal origin
					closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
				});
				$(".dropdown-button").dropdown({
					inDuration: 300,
					outDuration: 225,
					constrain_width: true, // Does not change width of dropdown to that of the activator
					hover: false, // Activate on hover
					gutter: 0, // Spacing from edge
					belowOrigin: true, // Displays dropdown below the button
					alignment: 'right' // Displays dropdown with edge aligned to the left of button
				});
			});
		</script>
        <% } %>
        <!-- Fin Scripts -->
    </body>
</html>