<script>
 

 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal('modal_nuevo_proyecto');
     

    
  });
    //var usuario = <%- JSON.stringify(user) %>


</script>


<div>
  <div class=" principalproject green-text">
    <h3> Mis proyectos</h3>
  </div>
  <div class="row">
     
      <div class="row col s5 offset-s1">
    <h6 class="green-text"> Mis proyectos activos</h6>
    <div class="card-panel scrollactivos">
      <% _.each(user.projects, function(projects){%>
     <%if(projects.owner_email==session.User.email){%>
        <a data-id="<%=projects.id %>" data-model="projects" href="/project/edit/<%=projects.id%>">
          <div class="col s6" >
            <div class="card green z-depth-2"> 
              <div class="card-content white-text" > <%= projects.name %>  </div>
            </div>
          </div>
        </a>
       <%}%>
      <% })%>
    </div>
  </div>
  <div class="row col s5">
      <h6 class="green-text"> Proyectos en los que participo</h6>
    <div id="participo" class="row card-panel scrollparticipo">
          
    <% _.each(user.projects, function(projects){%>
      <%if(projects.owner_email!=session.User.email){%>
    <a data-id="<%=projects.id %>" data-model="projects" href="/project/edit/<%=projects.id%>">
       <div class="col s6" >
      <div class="card  green lighten-2 z-depth-2"> 
        <div class="card-content white-text" > <%= projects.name %>  </div>
      </div>
    </div>
     </a>
      <%}%>
    <% })%>
              
              

    </div>
    <div id="crear" class="row card-panel">
  <a class="modal-trigger"href="#modal_nuevo_proyecto">
    <div class="" >
      <div class="row">
      <div class= "col s6">
         <div class="card  grey z-depth-2"> 
        <div class="card-content black-text" > Crear nuevo Projecto </div>
      </div>
      </div>
    </div>
    </div>
    
  </a>
    </div>

  </div>
    

  </div>
</div>



  <!-- Modal Structure -->
  <div id="modal_nuevo_proyecto" class="modal modal-fixed-footer">
    <form action = "/project/create/" method = "post">
    <div class="modal-content">
      <h4>Crear proyectos </h4>
      <div class= "container">
        <input id="name" type="text" class="col s6 offset-s1" name="name">
        <label for="name">Nombre del proyecto</label>
        <input type="hidden" name="owner_email" value="<%= session.User.email %>"/>
        <input type="hidden" name="participants" value="<%= user.id %>"/>
        <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
      </div>
    </div>
    <div class="modal-footer">
       <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Aceptar</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
      
    </div>
    </form>
  </div>


