<script>
  var usuario = <%- JSON.stringify(user) %>

 $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal('modal_nuevo_proyecto');
  });
         
 io.socket.get('/users/getall', function (resData) {
  resData;
});
 app.controller('viewCtrl',['$scope',function($scope){
    $scope.email = usuario.email;
   }]);


</script>


<div id="vistaprincipal" class="boxer">
  <h3 class="principalproject green-text"> Mis proyectos</h3>
  <div class="container " >
    <div class=" ">
    <div class="row scroll" >

  
  <br>

  <% _.each(user.projects, function(projects){%>
  <a data-id="<%=projects.id %>" data-model="projects" href="/project/edit/<%=projects.id%>">
    <div class="col s3" >
      <div class="card green z-depth-2"> 
        <div class="card-content white-text" > <%= projects.name %> </div>
      </div>
    </div>
    
  </a>
  <% })%>
 </div>
 </div>
 
<br>
<div class="divider"></div>
<br>
<div>
  <a class="modal-trigger"href="#modal_nuevo_proyecto">
    <div class="" >
      <div class="row">
      <div class= "col s3">
         <div class="card  grey z-depth-2"> 
        <div class="card-content black-text" > Crear nuevo Projecto </div>
      </div>
      </div>
    </div>
    </div>
    
  </a>
   </div>

    </div>

</div>


  <!-- Modal Structure -->
  <div id="modal_nuevo_proyecto" class="modal modal-fixed-footer">
    <form action = "/project/create/" method = "post">
    <div class="modal-content">
      <h4>Crear proyectos </h4>
      <div class= "container">
        <input id="name" type="text" class="col s6 offset-s1" name="name">
        <label for="name">Nombre del proyecto</label>
        <input type="hidden" name="owner_email" value="<%= session.User.email %>"/>
        <input type="hidden" name="participants" value="<%= user.id %>"/>
        <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
      </div>
    </div>
    <div class="modal-footer">
       <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">Aceptar</button>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancelar</a>
      
    </div>
    </form>
  </div>
<!--
<div class = "carta container" ng-controller="viewCtrl">
	<form class="col s6" action = "/project/create/" method = "post">
hOLA: {{email}}
	
	<h5> Crear proyectos </h5>
       <div class="row">
        <div class="input-field  col s6">
          <input id="name" type="text" class="validate" name="name">
          <label for="name">Nombre del proyecto</label>
        </div>
        <input type="hidden" name="owner_email" value="<%= session.User.email %>"/>
        <input type="hidden" name="participants" value="<%= user.id %>"/>
      </div>    
      <button type="submit" class="waves-effect waves-light btn" value="Crear cuenta"> Enviar </button>
      <input type="hidden" name="_csrf" value="<%= _csrf%>"/>
    </form>
</div>
-->

<!-- 
<div class ="carta">
  <a href="/user/edit/<%=user.id%>" class="waves-effect waves-light btn"> Cambiar contraseña</a>
</div>
</h1>-->
